<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card border-primary shadow-lg" style="width: 100%; max-width: 500px;">
        <div class="card-header bg-primary text-white text-center">
            <h2 class="mb-0">Quản lý dữ liệu</h2>
        </div>
        <div class="card-body">
            <a asp-controller="Dashboard" asp-action="BannerList" class="btn btn-outline-primary mb-3 w-100">📢 Banner</a>
            <a asp-controller="Dashboard" asp-action="CategoryList" class="btn btn-outline-primary mb-3 w-100">📁 Category</a>
            <a asp-controller="Dashboard" asp-action="ProductList" class="btn btn-outline-primary mb-3 w-100">🛒 Product</a>
            <a asp-controller="Dashboard" asp-action="UserList" class="btn btn-outline-primary w-100">👤 User</a>
        </div>
    </div>
</div>
